body {
    padding: 10px;
    background-color: #f7f6f6;
}

.icons i{

    margin-left: 8px;
}


.untereBox{

    padding: 16px;
    padding-right: 20px;
    padding-left: 20px;

}
.imggina {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

  .card-img-top {
    object-fit: cover;
    width: 100%;
    height: 250px;
  }


  

  /* Pagination */

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-item {
    margin: 5px;
}

.page-link {
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid #027bff;
    color: #027bff;
    align-items: center;
    justify-content: center;
}

 /* Pagination End */

  
  
  
  .row {
    background: #f7f6f6;
  
  }
  
  
  @media (min-width: 768px) {
  
    .card-deck.two-col .card {
      flex-basis: calc(50% - 30px);
      margin: 1%;
      background: #f7f6f6;
    }

    .card-deck.three-col .card {
      flex-basis: calc(33.33% - 30px);
      margin: 1%;
      
    }
  }

.card-deck .card {
  flex-basis: 66.67%;
  margin: 1%;
}
  

.card {
    
    border: none;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    border-radius: 4px;
}


.dots{

  height: 4px;
  width: 4px;
  margin-bottom: 2px;
  background-color: #7b7b7b;
  border-radius: 50%;
  display: inline-block;
}

.badge{

        padding: 7px;
        padding-right: 9px;
    padding-left: 16px;
    box-shadow: 5px 6px 6px 2px #e9ecef;
}

.user-img{

    margin-top: 4px;
    
}


/* Calender */

#calendar {
  width: 100%;
  max-width: 700px;
  margin: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background: white;
}

#calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: white;
  border-bottom: 1px solid #f7f6f6;
}

#calendar-header button {
  background: none;
  border: none;
  font-size: 16px;
}

#month-year {
  font-size: 16px;
}

#day-names, #days-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#day-names {
  background: white;
  padding: 10px 0;
  border-bottom: 1px solid #f7f6f6;
}

#day-names span {
  text-align: center;
  color:  #7b7b7b;
  font-size: 16px;
}

.day {
  border: 1px solid #f7f6f6;
  height: 80px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.day-number {
  text-align: right;
  width: 100%;
  padding: 5px;
  font-size: 14px;
  color: #4a4949;
}

.event {
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background: #027bff;
  color: white;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
}

.today {
  background: #ffefef;
  border-color: #ff7b7b;
}

.group-event .event {
  background: #027bff;
}

.group-event-link {
  color: #ffffff;
  display: block;
}

.prev-month-day, .next-month-day {
  text-align: right;
  width: 100%;
  padding: 5px;
  font-size: 14px;
  color: #7b7b7b; 
  background: #f7f6f6;
}

/* Calender End */
