{% extends "capstone/layout.html" %}

{% block body %} 
{% load static %}





<div class="container mt-5">
    <div class="card p-3 mt-2">
        <div class="untereBox">
           
        <h1>This is the group: {{ group.name }}</h1>
        {{ group.description }} <br>
        In {{ group.location }} created from {{ group.creator }}. <br>
        <br>

        {% if request.user.is_authenticated and not request.user in group.users.all %}
            Do you want to join the group?
            <br> <br>
            <a href="{% url 'join_group' group.id %}" class="btn btn-primary">Join the group</a>
        {% endif %}
        {% if request.user.is_authenticated and request.user in group.users.all %}
            You are a member of this group.
            <br> <br>
            <a href="{% url 'leave_group' group.id %}" class="btn btn-danger">Leave the group</a>
        {% endif %}
        </div>  
    </div>
</div> 




{% endblock %}