{% extends "capstone/layout.html" %}

{% block body %} 
{% load static %}





<div class="container mt-5">
    <div class="card p-3 mt-2">
        <div class="untereBox">
           
        <div class="d-flex justify-content-between">
            <h2>{{ group.name }}</h2> 
            <p>{{ group.location }}</p>
        </div>
        
        <p>created by {{ group.creator }}.</p>
        
        {{ group.description }} 
        <br>

        {% if next_event_date is not null %}
        You can join the event next time on {{ next_event_date }}
        {% elif next_event_date is null %}
        There are no group events upcoming, the last event was on {{ group.time_and_date }}, <br/>
        wait till the creator is updating the dates or <a href="{% url 'create_group' %}">create your own group</a>.
        {% endif %}

        <br>
        <br> 

        

        {% if request.user.is_authenticated and not request.user in group.users.all %}
            <a href="{% url 'join_group' group.id %}" class="btn btn-primary">Join the group</a>
        {% endif %}
        {% if request.user.is_authenticated and request.user in group.users.all %}
            <a href="{% url 'leave_group' group.id %}" class="btn btn-danger">Leave the group</a>
        {% endif %}

        {% if request.user == group.creator %}
            <a href="{% url 'edit_group' group.id %}" class="btn btn-secondary float-right">Edit Group</a>
            <a href="{% url 'delete_group' group.id %}" class="btn btn-danger float-right">Delete Group</a>
        {% endif %}

        </div>  
    </div>
</div> 





{% endblock %}